@use "sass:map";
@import "styles/pages/all.scss";
.container_categories_slider{
    max-width: 1200px !important ;
    margin-top: 30px !important;
   
    .categories_slider{

        .slider_items{
            height: 300px;
            position: relative;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
            border-radius: 5px ;

        }
        p{
            position: absolute;
            left: 5%;
            bottom: 20px;
            text-align: center;
            font-size: 18px;
            color: map.get($theme-colors, "normal-text");
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2px;
            padding: 12px 0px 10px;
            width: 270px;
            cursor: pointer;
            :hover{
                background: rgb(237 237 237);
            }

        }
        // .react-multi-carousel-item :not(:first-child) :not(:last-child){
        //     margin-right: 5px;
        //     margin-left: 5px;
        // }

        .react-multi-carousel-item{
            margin-right: 5px;
            margin-left: 5px;
        }
    }
}

.feature{
    margin-top: 50px;
   
    .section_title{
        margin-bottom: 50px;

        text-align: center;
        h2{
            position: relative;
    
        }
        h2:after{
            position: absolute;
            left: 0;
            bottom: -15px;
            right: 0;
            height: 4px;
            width: 80px;
            background: map.get($theme-colors, "main");
            content: "";
            margin: 0 auto;
        }
    }
    .react-tabs{
        ul{
            display: flex;
            justify-content: center;
            bottom: 50px;

        }
        li{
            list-style: none;
            font-size: 18px;
            color: map.get($theme-colors, "normal-text");
            display: inline-block;
            margin-right: 25px;
            position: relative;
            cursor: pointer;
            
        }
    }
    .feature_item{
        margin-bottom: 50px;
        margin-right: 5px;
        margin-left: 5px;
        &:hover{
            .feature_item_pic_hover{
                bottom: 0px !important;
            }
        }
      
        .feature_item_pic{
            height: 260px;
            position: relative;
            overflow: hidden;
            background-position: center;
            background-size: cover;
            .feature_item_pic_hover{
                position: absolute;
                left: 0;
                bottom: -20%;
                width: 100%;
                text-align: center;
                transition: all, 0.5s;
                li{
                    list-style: none;
                    display: inline-block;
                    margin-right: 10px;

                    &:hover{
                        svg{
                            background: #7fad39;
                            border-color: #7fad39;
                            color: #ffffff;
                            transform: rotate(360deg) !important;
                        }
                    }
                    svg{
                        padding: 10px;
                        height: 20px;
                        width: 20px;
                        border: 1px solid #ebebeb;
                        background: #ffffff;
                        color: #565555;
                        transition: all , 0.3s;
                        border-radius: 50%;

                    }
                }

            }
        }

.feature_item_text{
    text-align: center;
    h6{
        margin-top: 10px;
        font-size: 16px;
        font-weight: 400;
        a{
             color: map.get($theme-colors,"normal-text") !important;
             text-decoration: none;
             
        }
        h5{
            color: map.get($theme-colors,"normal-text");
            font-size: 18px;
            font-weight: 700
            ;margin-top: 10px;
        }
    }
}
    }

}